/* ----- Only for mobile devices -----*/
@media screen and (max-width: 600px) {

    /* --- Header --- */
    header div h1 {
        font-size: 30px;
    }

    header div hr {
        width: 265px;
    }

    header div h2 {
        font-size: 15px;
    }

    header div h4 {
        font-size: 10px;
    }

    header div a button {
        width: 100px;
        height: 40px;

        font-size: 12px;
        padding: 0px;
    }

    /* --- Footer --- */
    footer {
        font-size: 6px;
    }

    footer center img {
        width: 10px;
        height: 10px;

        margin:0px;
        border:0px;
        padding:0px;
    }
}